@model Blogi.Application.Features.WebSettings.Dtos.Get.GetWebSettingOutput
@{
    ViewData["Title"] = "Web Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<partial name="_breadCrumb" />

<form asp-controller="WebSetting" asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header bg-default" style="color:black">
                    <i class='fa fa-fa-setting'></i> @Localize("page_web_setting_label_meta_configuration")
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Web Site Url</label>
                        <div class="col-sm-8">
                            <input asp-for="WebSiteUrl" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="WebSiteUrl"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Slogan</label>
                        <div class="col-sm-8">
                            <input asp-for="Slogan" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="Slogan"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localize("page_web_setting_label_title")</label>
                        <div class="col-sm-8">
                            <input asp-for="Title" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localize("page_web_setting_label_author")</label>
                        <div class="col-sm-8">
                            <input asp-for="Author" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="Author"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localize("page_web_setting_label_meta_description")</label>
                        <div class="col-sm-8">
                            <input asp-for="MetaDescription" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="MetaDescription"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localize("page_web_setting_label_meta_keywords")</label>
                        <div class="col-sm-8">
                            <input asp-for="MetaKeywords" type="text" class="form-control" required>
                            <span class="text-danger" asp-validation-for="MetaKeywords"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header bg-default" style="color:black">
                    <i class='fa fa-fa-setting'></i> @Localize("page_web_setting_label_social_site_link")
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Facebook Url</label>
                        <div class="col-sm-6">
                            <input asp-for="FacebookUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="FacebookUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayFacebbokUrl"> @Localize("page_web_setting_label_show_facebook")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Twitter Url</label>
                        <div class="col-sm-6">
                            <input asp-for="TwitterUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="TwitterUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayTwitterUrl"> @Localize("page_web_setting_label_show_twitter")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Instagram Url</label>
                        <div class="col-sm-6">
                            <input asp-for="InstagramUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="InstagramUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayInstagramUrl"> @Localize("page_web_setting_label_show_instagram")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">YouTube Url</label>
                        <div class="col-sm-6">
                            <input asp-for="YouTubeUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="YouTubeUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayYouTubeUrl"> @Localize("page_web_setting_label_show_youtube")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Medium Url</label>
                        <div class="col-sm-6">
                            <input asp-for="MediumUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="MediumUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayMediumUrl"> @Localize("page_web_setting_label_show_medium")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Github Url</label>
                        <div class="col-sm-6">
                            <input asp-for="GithubUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="GithubUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayGithubUrl"> @Localize("page_web_setting_label_show_github")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Linkedin Url</label>
                        <div class="col-sm-6">
                            <input asp-for="LinkedinUrl" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="LinkedinUrl"></span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsDisplayLinkedinUrl"> @Localize("page_web_setting_label_show_linkedin")
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-rounded btn-block btn-warning">@Localize("page_default_button_update") <i class="mdi mdi-progress-upload"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>