@model Blogi.Dashboard.Models.PostEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="xp-breadcrumbbar">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h4 class="xp-page-title">
                        <a asp-controller="Dashboard" asp-action="Home" style="color: #8A98AC"><i class="icon-home"></i> Home</a>
                    </h4>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="xp-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Post" asp-action="Home"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a asp-controller="Post" asp-action="Home">Back to List</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<form asp-controller="Post" asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="Post.Id" name="Post.Id" />

    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header bg-primary" style="color:white">
                    <i class='fa fa-file-image-o'></i> Header Image
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Image</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" name="File" onchange="previewImg(event)">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Image Alt</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Post.ImageAlt" required>
                                    <span class="text-danger" asp-validation-for="Post.ImageAlt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group row">
                                @{
                                    <img src="@string.Format("data:image/gif;base64,{0}", Model.Post.Image)" id="imgPreview" class="img-fluid" style="width:400px; height:200px;">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="card m-b-30">
                <div class="card-header bg-primary" style="color:white">
                    <i class='ion ion-ios-information-circle'></i> SEO
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tags</label>
                        <div class="col-sm-10">
                            <select asp-for="TagIds"
                                    class="js-example-basic-multiple"
                                    name="TagIds[]"
                                    multiple="multiple"
                                    required>
                                @foreach (var tag in Model.TagList)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Meta Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Post.MetaKeywords" required>
                            <span class="text-danger" asp-validation-for="Post.MetaKeywords"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Meta Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Post.MetaDescription" required>
                            <span class="text-danger" asp-validation-for="Post.MetaDescription"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Post.Slug" required>
                            <span class="text-danger" asp-validation-for="Post.Slug"></span>
                        </div>
                    </div>

                </div>
            </div>

            <br />
            <div class="card m-b-30">
                <div class="card-header bg-primary" style="color:white">
                    <i class='icon-book-open'></i> POST
                </div>
                <div class="card-body">

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Language</label>
                            <div class="col-sm-10">
                                <select asp-for="Post.LanguageId" class="form-control" required>
                                    <option selected="selected" value="0">Select Language</option>
                                    @foreach (var item in Model.LanguageList)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <select asp-for="Post.CategoryId" class="form-control" required>
                                    <option selected="selected" value="0">Select Category</option>
                                    @foreach (var category in Model.CategoryList)
                                    {
                                        <option value="@category.Id">@category.Name, @category.Culture</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Post.Title" placeholder="Post Title" required>
                            <span class="text-danger" asp-validation-for="Post.Title"></span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-sm-12">
                            <textarea id="xp-tinymce" asp-for="Post.Content" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Post.IsPublished">
                            <label class="form-check-label" asp-for="Post.IsPublished">
                                Is Published
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                       <button type="submit" class="btn btn-block btn-warning"> Update<i class="mdi mdi-plus ml-2"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>


@section scripts {
<script>
    $(document).ready(function() {
           $('.js-example-basic-multiple').select2();
      });

     var previewImg=function (event){
               var result= document.getElementById("imgPreview");
               result.src=URL.createObjectURL(event.target.files[0]);
      };

</script>
}

