@{
    ViewData["Title"] = "Article List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<partial name="_breadCrumb" />

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-header bg-secondary" style="color:white">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">  <i class='ion ion-ios-information-circle'></i> @Localize("page_post_label_list")</li>
                    <li class="list-inline-item float-right">
                        <a asp-controller="Post" asp-action="Create" class="btn btn-rounded btn-success">@Localize("page_post_label_create_new_post") <i class="mdi mdi-plus ml-2"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="table-responsive m-b-30">
                    <table class="table table-hover" id="postTable">
                        <thead>
                            <tr>
                                <th>@Localize("datatable_default_label_language")</th>
                                <th>@Localize("datatable_default_label_category_name")</th>
                                <th>@Localize("datatable_default_label_title")</th>
                                <th>@Localize("datatable_default_label__display_count")</th>
                                <th>@Localize("datatable_default_label_puslished")</th>
                                <th>@Localize("datatable_default_label_creation_date")</th>
                                <th>@Localize("datatable_default_label_updation_date")</th>
                                <th>@Localize("datatable_default_label_update")</th>
                                <th>@Localize("datatable_default_label_delete")</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/js/views/post/home.js" asp-append-version="true"></script>
}