@model Blogi.Dashboard.Models.AboutEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="xp-breadcrumbbar">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h4 class="xp-page-title">
                        <a asp-controller="Dashboard" asp-action="Home" style="color: #8A98AC"><i class="icon-home"></i> @Localize("page_default_label_home")</a>
                    </h4>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="xp-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="About" asp-action="Home"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a asp-controller="About" asp-action="Home">@Localize("page_default_back_to_list")</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="col-lg-12">
    <div class="card m-b-30">
        <div class="card-body">
            <form method="post" asp-controller="About" asp-action="Edit">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="About.Id" />
                <input type="hidden" asp-for="About.LanguageId" />
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-4 pt-0">@Localize("page_default_label_language")</div>
                        <div class="col-sm-8">
                            <select asp-for="About.LanguageId" class="form-control" disabled>
                                <option selected="selected" value="0">@Localize("page_default_label_select_language")</option>
                                @foreach (var item in Model.LanguageList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Slug</label>
                    <div class="col-sm-8">
                        <input asp-for="About.Slug" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="About.Slug"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Title</label>
                    <div class="col-sm-8">
                        <input asp-for="About.Title" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="About.Title"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Slug</label>
                    <div class="col-sm-8">
                        <input asp-for="About.Slug" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="About.Slug"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">MetaDescription</label>
                    <div class="col-sm-8">
                        <input asp-for="About.MetaDescription" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="About.MetaDescription"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">MetaKeywords</label>
                    <div class="col-sm-8">
                        <input asp-for="About.MetaKeywords" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="About.MetaKeywords"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <textarea id="xp-tinymce" asp-for="About.Content"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-rounded btn-block btn-warning">@Localize("page_default_button_update") <i class="mdi mdi-progress-upload"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>