@model Blogi.Application.Features.WebSettings.Dtos.Get.GetWebSettingOutput


@{
    if (Model.IsDisplayFacebbokUrl)
    {
        <a href="@Model.FacebookUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-facebook.svg" alt="@Model.FacebookUrl" />
        </a>
    }

    if (Model.IsDisplayTwitterUrl)
    {
        <a href="@Model.TwitterUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-twitter.svg" alt="@Model.TwitterUrl" />
        </a>
    }

    if (Model.IsDisplayInstagramUrl)
    {
        <a href="@Model.InstagramUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-instagram.svg" alt="@Model.InstagramUrl" />
        </a>
    }

    if (Model.IsDisplayGithubUrl)
    {
        <a href="@Model.GithubUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-github.svg" alt="@Model.GithubUrl" />
        </a>
    }

    if (Model.IsDisplayMediumUrl)
    {
        <a href="@Model.MediumUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-medium-monogram.svg" alt="@Model.MediumUrl" />
        </a>
    }

    if (Model.IsDisplayYouTubeUrl)
    {
        <a href="@Model.YouTubeUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-youtube.svg" alt="@Model.YouTubeUrl" />
        </a>
    }
    if (Model.IsDisplayLinkedinUrl)
    {
        <a href="@Model.LinkedinUrl" target="_blank">
            <img src="~/assets/imgs/theme/icons/icons8-linkedin-circled.svg" alt="@Model.LinkedinUrl" />
        </a>
    }
}