<div class="xp-leftbar">
    <!-- Start XP Sidebar -->
    <div class="xp-sidebar">

        <!-- Start XP Logobar -->
        <div class="xp-logobar text-center">
            <a asp-controller="Dashboard" asp-action="Home" class="xp-logo">
                <img src="~/favicon.png" class="rounded-circle" alt="blogiBlog" style="width:40px; height:40px;">

            </a>
        </div>
        <!-- End XP Logobar -->
        <!-- Start XP Navigationbar -->
        <div class="xp-navigationbar">
            <ul class="xp-vertical-menu">
                <li class="xp-vertical-header"><i class="dripicons-article"></i> @Localize("left_menu_label_blog")</li>
                <li>
                    <a href="javaScript:void();">
                        <i class="icon-docs"></i><span>@Localize("left_menu_label_post")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Post" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Post" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="fa fa-comment"></i><span>@Localize("left_menu_label_comment")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Comment" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Comment" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-list-box"></i><span>@Localize("left_menu_label_category")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Category" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Category" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-list"></i><span>@Localize("left_menu_label_tag")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Tag" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Tag" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li class="xp-vertical-header"><i class="icon-action-redo"></i> Pages</li>
                <li>
                    <a href="javaScript:void();">
                        <i class="mdi mdi-book-open-page-variant"></i><span>About</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="About" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="About" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="mdi mdi-book-open-page-variant"></i><span>Contact</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Contact" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Contact" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li class="xp-vertical-header"><i class="icon-settings"></i> @Localize("left_menu_label_system_config")</li>
                <li>
                    <a href="javaScript:void();">
                        <i class="fa fa-language"></i><span>@Localize("left_menu_label_language")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Language" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="Language" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="fa fa-language"></i><span>@Localize("left_menu_label_string_resource")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="StringResource" asp-action="Home">@Localize("left_menu_a_default_label_list")</a></li>
                        <li><a asp-controller="StringResource" asp-action="Create">@Localize("left_menu_a_default_label_create")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-mail"></i><span>@Localize("left_menu_label_mail_setting")</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="MailSetting" asp-action="Home">@Localize("left_menu_a_mail_setting_configure")</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-settings"></i><span>Web Ayari</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="WebSetting" asp-action="Home">Yapilandir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End XP Navigationbar -->

    </div>
    <!-- End XP Sidebar -->
</div>