
<div class="xp-topbar">
    <!-- Start XP Row -->
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
            <div class="xp-menubar">
                <a class="xp-menu-hamburger" href="javascript:void();">
                    <i class="icon-menu font-20 text-white"></i>
                </a>
            </div>
        </div>
        <!-- End XP Col -->
        <!-- Start XP Col -->
        <div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
            <div class="xp-profilebar text-right">
                <ul class="list-inline mb-0">                   
                    <li class="list-inline-item mr-0">
                        <div class="dropdown xp-userprofile">
                            <a class="dropdown-toggle " href="#" role="button" id="xp-userprofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/topbar/user.png" alt="user-profile" class="rounded-circle img-fluid"><span class="xp-user-live"></span></a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="xp-userprofile">
                                <a class="dropdown-item py-3 text-white text-center font-16" href="#">@User.FindFirst(ClaimTypes.GivenName).Value @User.FindFirst(ClaimTypes.Surname).Value</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                                    <i class="icon-user text-danger mr-2"></i> @Localize("top_menu_profile")
                                </a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="icon-power text-danger mr-2"></i> @Localize("top_menu_logout")
                                    </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End XP Col -->
    </div>
    <!-- End XP Row -->
</div>