@model Blogi.UI.Models.CategoryViewModel

@{
    ViewData["Title"] = @Model.WebSettings.Title;
    ViewData["Description"] = @Model.WebSettings.MetaDescription;
    ViewData["Keywords"] = @Model.WebSettings.MetaKeywords;
    ViewData["Author"] = @Model.WebSettings.Author;
    ViewData["WebSite"] = @Model.WebSettings.WebSiteUrl;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row gy-4">

    @foreach (var item in Model.BlogPost)
    {
        <div class="col-sm-6">
            <!-- post -->
        <div class="post post-grid rounded bordered">
                <div class="thumb top-rounded">
                    <a href="categories/@item.CategorySlug-@item.CategoryId" class="category-badge position-absolute">@item.CategoryName</a>

                    <a href="/@item.Slug-@item.Id">
                        <div class="inner">
                            <img src="@string.Format("data:image/gif;base64,{0}", item.Image)" alt="@item.ImageAlt" style="width:356px;height:238px;" />
                        </div>
                    </a>
                </div>
                <div class="details">
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="@item.Slug-@item.Id">
                                <img src="@string.Format("data:image/gif;base64,{0}", item.AuthorPhoto)" class="author" alt="@item.Author" style="width:16px;height:16px;" />
                                @item.Author
                            </a>
                        </li>
                        <li class="list-inline-item">@item.CreationDate</li>
                    </ul>
                    <h5 class="post-title mb-3 mt-3"><a href="/@item.Slug-@item.Id">@item.Title</a></h5>
                </div>

            </div>
        </div>
    }

</div>
@Html.PagedListPager((IPagedList)Model.BlogPost,pageNo => Url.Action("Index",new{pageNo}))
