@model Blogi.Application.Features.Contacts.Dtos.Get.GetContactOutput
@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = @Model.MetaDescription;
    ViewData["Keywords"] = @Model.MetaKeywords;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row gy-4">

    <div class="row">

        <div class="col-md-4">
            <!-- contact info item -->
            <div class="contact-item bordered rounded d-flex align-items-center">
                <span class="icon icon-phone"></span>
                <div class="details">
                    <h3 class="mb-0 mt-0">Phone</h3>
                    <p class="mb-0">@Model.Phone</p>
                </div>
            </div>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>

        <div class="col-md-4">
            <!-- contact info item -->
            <div class="contact-item bordered rounded d-flex align-items-center">
                <span class="icon icon-envelope-open"></span>
                <div class="details">
                    <h3 class="mb-0 mt-0">E-Mail</h3>
                    <p class="mb-0">@Model.Email</p>
                </div>
            </div>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>

        <div class="col-md-4">
            <!-- contact info item -->
            <div class="contact-item bordered rounded d-flex align-items-center">
                <span class="icon icon-map"></span>
                <div class="details">
                    <h3 class="mb-0 mt-0">Location</h3>
                    <p class="mb-0">@Model.Location</p>
                </div>
            </div>
        </div>

    </div>

    <div class="spacer" data-height="50" style="height: 50px;"></div>

    <div class="align-content-center">
        @Html.Raw(Model.Content)
    </div>

</div>