@model Blogi.UI.Models.HomeIndexViewModel

@{
    ViewData["Title"] = @Model.WebSettings.Title;
    ViewData["Description"] = @Model.WebSettings.MetaDescription;
    ViewData["Keywords"] = @Model.WebSettings.MetaKeywords;
    ViewData["Author"] = @Model.WebSettings.Author;
    ViewData["WebSite"] = @Model.WebSettings.WebSiteUrl;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-product-fillter mb-50 pr-30">
    <div class="totall-product">
        <h2>
            <img class="w-36px mr-10" src="~/favicon.png" alt="blogiblog" />
            @Localize("blog_ui_articles")
        </h2>
    </div>
  
</div>
<div class="loop-grid pr-30">
    <div class="row">
        @foreach (var item in Model.BlogPost)
        {

            <article class="col-xl-4 col-lg-6 col-md-6 text-center hover-up mb-30 animated">
                <div class="post-thumb">
                    <a href="@item.Slug-@item.Id">
                       @if(@item.Image is null){
                            <img class="border-radius-15" src="~/assets/imgs/blog/slogan.png" alt="@item.ImageAlt" style="width:368px;height:309px;" />
                        }
                        else
                        {
                            <img class="border-radius-15" src="@string.Format("data:image/gif;base64,{0}", item.Image)" alt="@item.ImageAlt" style="width:368px;height:309px;" />
                        }
                    </a>

                </div>
                <div class="entry-content-2">
                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="category/@item.CategorySlug-@item.CategoryId">@item.CategoryName</a></h6>
                    <h5 class="post-title mb-15">
                        <a href="@item.Slug-@item.Id">@item.Title</a>
                    </h5>
                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                        <div>
                            <span class="post-on mr-3">@item.CreationDate</span>
                            <span class="hit-count has-dot">@item.CountOfComment  @Localize("blog_ui_articles_count_comment")</span>
                            <span class="hit-count has-dot">@item.CountOfView @Localize("blog_ui_articles_count_view")</span>
                        </div>
                    </div>
                </div>
            </article>

        }
    </div>
</div>


@if (Model.BlogPost.Count() > 1)
{
    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            @Html.PagedListPager((IPagedList)Model.BlogPost,pageNo => Url.Action("Index",new{pageNo}), new PagedListRenderOptions {
            DisplayLinkToIndividualPages = true,
            DisplayPageCountAndCurrentLocation = false,
            MaximumPageNumbersToDisplay = 5,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            ActiveLiElementClass="active"
            })
        </ul>
    </nav>
</div>
}

<div class="shop-product-fillter mb-50 pr-30">
    <div class="totall-product">
        <h2>
            &nbsp;
        </h2>
    </div>

</div>