@model Blogi.Application.Features.Posts.Dtos.GetBlogPost.GetBlogPostOutput
@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = @Model.MetaDescription;
    ViewData["Keywords"] = @Model.MetaKeywords;
    ViewData["Author"] = @Model.Author;
    ViewData["WebSite"] = @Model.Slug;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a href="categories/@Model.CategorySlug-@Model.CategoryId">@Model.CategoryName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<div class="col-lg-12">
    <!-- post single -->
    <div class="post post-single">
        <!-- post header -->
        <div class="post-header">
            <h1 class="title mt-0 mb-3">@Model.Title</h1>
            <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#">
                        <img src="@string.Format("data:image/gif;base64,{0}", Model.AuthorPhoto)" class="author" alt="@Model.Author" style="width:16px;height:16px;">
                        @Model.Author
                    </a>
                </li>
                <li class="list-inline-item"><a href="categories/@Model.CategorySlug-@Model.CategoryId">@Model.CategoryName</a></li>
                <li class="list-inline-item">@Model.CreationDate</li>
            </ul>
        </div>
        <!-- featured image -->
        <div class="featured-image">
            <img src="@string.Format("data:image/gif;base64,{0}", Model.Image)" alt="@Model.ImageAlt">
        </div>
        <!-- post content -->
        <div class="post-content clearfix">
            @Html.Raw(Model.Content)
        </div>
        <!-- post bottom section -->
        <div class="post-bottom">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-12 text-center text-md-start">
                    <!-- tags -->
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="@tag.Key" class="tag">#@tag.Value</a>
                    }
                </div>
                <div class="col-md-6 col-12">
                    <!-- social icons -->
                    @await Component.InvokeAsync("SocialLinks")
                </div>
            </div>
        </div>

    </div>

    <div class="spacer" data-height="50" style="height: 50px;"></div>



    <div class="spacer" data-height="50" style="height: 50px;"></div>

    <!-- section header -->
    <div class="section-header">
        <h3 class="section-title">Comments (3)</h3>
        <img src="~/images/wave.svg" class="wave" alt="wave">
    </div>
    <!-- post comments -->
    <div class="comments bordered padding-30 rounded">

        <ul class="comments">
            <!-- comment item -->
            <li class="comment rounded">
                <div class="thumb">
                    <img src="images/other/comment-1.png" alt="John Doe">
                </div>
                <div class="details">
                    <h4 class="name"><a href="#">John Doe</a></h4>
                    <span class="date">Jan 08, 2021 14:41 pm</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae odio ut tortor fringilla cursus sed quis odio.</p>
                    <a href="#" class="btn btn-default btn-sm">Reply</a>
                </div>
            </li>
            <!-- comment item -->
            <li class="comment child rounded">
                <div class="thumb">
                    <img src="images/other/comment-2.png" alt="John Doe">
                </div>
                <div class="details">
                    <h4 class="name"><a href="#">Helen Doe</a></h4>
                    <span class="date">Jan 08, 2021 14:41 pm</span>
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                    <a href="#" class="btn btn-default btn-sm">Reply</a>
                </div>
            </li>
            <!-- comment item -->
            <li class="comment rounded">
                <div class="thumb">
                    <img src="images/other/comment-3.png" alt="John Doe">
                </div>
                <div class="details">
                    <h4 class="name"><a href="#">Anna Doe</a></h4>
                    <span class="date">Jan 08, 2021 14:41 pm</span>
                    <p>Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                    <a href="#" class="btn btn-default btn-sm">Reply</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="spacer" data-height="50" style="height: 50px;"></div>

    <!-- section header -->
    <div class="section-header">
        <h3 class="section-title">Leave Comment</h3>
        <img src="images/wave.svg" class="wave" alt="wave">
    </div>
    <!-- comment form -->
    <div class="comment-form rounded bordered padding-30">

        <form id="comment-form" class="comment-form" method="post">

            <div class="messages"></div>

            <div class="row">

                <div class="column col-md-12">
                    <!-- Comment textarea -->
                    <div class="form-group">
                        <textarea name="InputComment" id="InputComment" class="form-control" rows="4" placeholder="Your comment here..." required="required"></textarea>
                    </div>
                </div>

                <div class="column col-md-6">
                    <!-- Email input -->
                    <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email address" required="required">
                    </div>
                </div>

                <div class="column col-md-6">
                    <!-- Name input -->
                    <div class="form-group">
                        <input type="text" class="form-control" name="InputWeb" id="InputWeb" placeholder="Website" required="required">
                    </div>
                </div>

                <div class="column col-md-12">
                    <!-- Email input -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="InputName" name="InputName" placeholder="Your name" required="required">
                    </div>
                </div>

            </div>

            <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Submit</button><!-- Submit Button -->

        </form>
    </div>
</div>