<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="@ViewData["Author"]">
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Open Graph Tags -->
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="@ViewData["Author"]">
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@ViewData["WebSite"]" />
    <meta property="og:image" href="~/favicon.png" />

    <!-- Open Graph Tags -->
    <meta name="twitter:site" content="@ViewData["Author"]" />
    <meta name="twitter:card" content="@ViewData["Title"]" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:description" content="@ViewData["Description"]" />
    <meta name="twitter:url" content="@ViewData["WebSite"]" />
    <meta name="twitter:image" href="~/favicon.png" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css?v=3.2" />
</head>

<body>

    <partial name="_header" />

    <!--End header-->
    <main class="main">
        <div class="page-header mt-30 mb-75">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Blog & News</h1>
                            <div class="breadcrumb">
                                <a asp-controller="Home" asp-action="Index" rel="nofollow"><i class="fi-rs-home mr-5"></i>@Localize("blog_ui_navbar_home")</a>
                                <span></span> Blog & News
                            </div>
                        </div>
                        <div class="col-xl-9 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                @await Component.InvokeAsync("TagMenu")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content mb-50">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9">
                        @RenderBody()
                    </div>

                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <partial name="_rightMenu" />
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="main">
        <partial name="_footer" />
    </footer>

    <!-- Vendor JS-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/slick.js"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/assets/js/plugins/wow.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="~/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/assets/js/plugins/select2.min.js"></script>
    <script src="~/assets/js/plugins/waypoints.js"></script>
    <script src="~/assets/js/plugins/counterup.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/images-loaded.js"></script>
    <script src="~/assets/js/plugins/isotope.js"></script>
    <script src="~/assets/js/plugins/scrollup.js"></script>
    <script src="~/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="~/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="~/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.2"></script>
    <script src="./assets/js/shop.js?v=3.2"></script>
</body>
</html>
